<mat-toolbar color="primary" class="toolbar">
  <mat-toolbar-row>
    <span>Reto Oechsle</span>
    <span class="filler"></span>
    <button mat-flat-button><mat-icon>add</mat-icon> Agregar usuario</button>
  </mat-toolbar-row>
  <mat-toolbar-row>
    Edad promedio: {{ average | number: '1.0-0' }} | Desviacion Estandar: {{ stDev | number }}
  </mat-toolbar-row>
</mat-toolbar>

<mat-card style="margin: 1rem;">
  <mat-list>
    <mat-list-item *ngFor="let user of users">
      <span>{{ user.firstName }} {{ user.lastName }}</span>
      <span class="filler"></span>
      <button mat-flat-button color="primary">Detalles</button>
    </mat-list-item>
  </mat-list>
</mat-card>
