<mat-toolbar color="primary" class="toolbar">
  <mat-toolbar-row>
    <span>Reto Oechsle - Lista de usuarios</span>
    <span class="filler"></span>
    <button mat-flat-button routerLink="/create-user"><mat-icon>add</mat-icon> Agregar usuario</button>
  </mat-toolbar-row>
  <mat-toolbar-row>
    Edad promedio: {{ avg | number: '1.0-0' }} | Desviacion Estandar: {{ stDev | number }}
  </mat-toolbar-row>
</mat-toolbar>

<mat-card style="margin: 1rem;">
  <ng-container *ngIf="loading; else notLoading">
    <mat-spinner style="margin: auto;"></mat-spinner>
  </ng-container>
  <ng-template #notLoading>
    <ng-container *ngIf="users.length > 0; else noData">
      <mat-list>
        <mat-list-item *ngFor="let user of users">
          <span>{{ user.firstName }} {{ user.lastName }}</span>
          <span class="filler"></span>
          <button mat-flat-button color="primary">Detalles</button>
          <button
            mat-flat-button
            color="warn"
            style="margin-left: 1rem;"
            (click)="deleteUser(user.firstName, user.lastName, user._id)"
          >
            Eliminar
          </button>
        </mat-list-item>
      </mat-list>
    </ng-container>
    <ng-template #noData>
      No existe ningún usuario en la base de datos
    </ng-template>
  </ng-template>
</mat-card>
